<%= form_for @project do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :category %><br />
    <%= f.select :category_id, options_for_select(Category.all.map {|e| [e.name, e.id]}) %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :goal %><br />
    <%= f.text_field :goal %>
  </p>

  <%= f.file_field :image %>

  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </p>

  <p>
    <%= f.label :deadline %><br />
    <%= f.datetime_select :deadline %>
  </p>

  <%= f.submit "Save" %>

<% end %>
