<div class="row">
  <div class="medium-4 columns">

    <h2>Search by Category:    </h2>
    <%= select_tag "category_choices", options_for_select(Category.all.map { |c| [ c.name, c.id ] } ) %>
    <%= submit_tag "Submit", :id => "category_choices_submit", "data-url" => projects_by_category_path %>

    <hr />
    <div class="centering_container_outer">
      <div class="centering_container_inner">
        <span class="success label">
          <h4 id="contribution_totals">$<%= @contributions.sum(:amount) %> raised by our community of <%= @contributions.map { |c| [c.user_id, c.amount] }.uniq{ |x| x.first }.count %>!
          </h4>
        </span>
      </div>
    </div>
    <hr />

  <div class="panel">
    <h3>Fully Funded Projects </h3>
      <ul class="small-block-grid-2">
        <% (@projects.map{|p| p if p.fully_funded }).each do |x| %>
          <% if x != nil %>
            <li>
              <%= link_to (image_tag x.image_url.to_s, :id => "funded_projects"), project_path(x.id) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="medium-8 columns">
    <div id="contributions"><h2 id="title">Projects</h2></div>
    <ul id="projects" class= "medium-block-grid-3">
      <%= render :partial => 'project', :object =>  @projects %>
    </ul>
  </div>
</div>
