
<h2>$<%= @contributions.sum(:amount) %> contributed by <%= @contributions.map { |c| [c.user_id, c.amount] }.uniq{ |x| x.first }.count %> people across all CrowdFunder projects.</h2>

<%= select_tag "category_choices", options_for_select(Category.all.map { |c| [ c.name, c.id ] } ) %>
<%= submit_tag "Submit", :id => "category_choices_submit", "data-url" => projects_by_category_path %>

<div id="contributions"><h1 id="title">Projects</h1></div>
<ul id="projects">
  <%= render :partial => 'project', :object =>  @projects %>
</ul>

<% count = 0 %>
<% @projects.each do |p| %>
<% if p.fully_funded %>
<% count += 1 %>
<% end %>
<% end %>

<ul id="fully_funded_projects">
  <h1>Fully funded projects (<%= count %>)</h1>
  <h2>Recent fully funded projects:</h2>
  <% counter = 0 %>
  <% @projects.each do |p| %>
  <% if p.fully_funded %>
  <li>
  <%= p.name %>
</li>
<% counter += 1 %>
<% end %>
<% if counter >= 5 %>
<% break %>
<% end %>
<% end %>
</ul>
