<h1>Project:</h1> <h2><%= @project.name %></h2>
Description: <%= @project.description %><br/>
Goal: <%= @project.goal %> <br/>
Deadline: <%= @project.deadline %>

<p>Time to deadline: <%= @project.time_left%></p>
